#hero{
    align-items: start;
    padding-top: 30vh;
    h1{
        font-size: 6em;
    }
    h3{
        font-size: 2em;
        font-weight: 600;
        margin-top: 30px;
        letter-spacing: 20px;
    }
}
