.layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  .main {
    height: 90%;
  }
  .sidebar {
    border: 3px solid black;
    padding: 15px;
    background-color: #fff;
    position: fixed;
    display: block;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
  }
  .container {
    width: 100%;
    height: 90vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .layout {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    .main {
      width: 90%;
    }
    .sidebar {
      justify-content: center;
      flex-direction: column;
      width: 10%;
      max-width: 150px;
      height: 100vh;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      left: 0;
      border: 3px solid black;
      padding: 15px;
      background-color: #fff;
      transform: none;
      border-radius: 0;
    }
    .container {
      height: 100vh;
    }
  }
}
