.sidebar {
    width: 100%;
    height: 60px;
    padding: 15px;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    gap: 0.8rem;
    //backdrop-filter: blur(15px);
    z-index: 10000;
    a{
        color: $font-color-primary;
        font-weight: 600;
        text-decoration: none;
        &:hover{
        font-weight: 900;
        }
    }
}
@media screen and (min-width: 1024px) {
    .sidebar {
        flex-direction: column;
        width: 15%;
        max-width: 150px;
        height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        transform: none;
    }
}