@import './variable';

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  top: 0;
  bottom: 0;
  background-color: $background-color-base;
  font-family: $font-family;
  line-height: 1.5;
}
html,
body {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}
